* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #1d1716;
   
}
.container{
    display:flex;
    flex-direction:column;
}
.movie-card {
    height: 55vh;
    width: 23vw;
    flex: 0 0 auto;
    margin: 3.3vh 0.7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3%;
    background-color: #222831;
    transition: box-shadow 0.3s ease-in;
}

    .movie-card:hover {
  
        border: 1px solid #F7F7FF;
        box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
    }
.cards-container {
    display: flex;
    margin-bottom: 0.5vh;
    overflow-x: auto;
    align-items: start;
    margin-top: 0.7vh;
}
    /* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
    .cards-container::-webkit-scrollbar {
        display:none;
    }

   




.poster{
    
    height:60%;
    width:100%;
  
}

.movieName {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1rem !important;
    
}

.summary {
    
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top:6px;
    
}

@media only screen and (max-width: 768px) and (min-width:600px) {
    .movie-card {
        height:65vh;
        width: 35vw;
        flex: 0 0 auto;
        margin: 4vh 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #222831;
        transition: box-shadow 0.3s ease-in;
        border-radius:5%;
    }

        .movie-card:hover {
            border: 1px solid #F7F7FF;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
        }
    .cards-container {
        display: flex;
        margin-bottom: 3vh;
        overflow-x: auto;
        margin-top: 3vh;
    }
    .poster {
        height: 70%;
        width: 100%;
       
    }

    .movieName {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.5rem !important;
    }

    .summary {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 10vh;
    }
}


@media only screen and (min-width:768px) and (max-width:992px) {
    .movie-card {
        height:60vh;
        width:95vw;
        flex: 0 0 auto;
        margin: 4vh 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #222831;
        transition: box-shadow 0.3s ease-in;
        border-radius:5%;
    }

        .movie-card:hover {
            border: 1px solid #F7F7FF;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
        }

    .cards-container {
        display: flex;
        margin-bottom: 3vh;
        overflow-x: auto;
        margin-top: 3vh;
    }

    .poster {
        height: 70%;
        width: 100%;
    }

    .movieName {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.7rem !important;
    }
    .summary {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 10vh;
    }
    /* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
    .cards-container::-webkit-scrollbar {
        display: none;
    }

   

}

@media only screen and (max-width:600px) and (min-width:200px) {
    .movie-card {
        height: 50vh;
        width: 90vw;
        flex: 0 0 auto;
        margin: 4vh 5vw;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #222831;
        transition: box-shadow 0.3s ease-in;
    }

        .movie-card:hover {
            border: 1px solid #F7F7FF;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
        }

    .cards-container {
        display: flex;
        margin-bottom: 3vh;
        overflow-x: auto;
        margin-top: 3vh;
    }

    .poster {
        height: 60%;
        width: 100%;
    }

    .movieName {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.7rem !important;
    }
    .summary {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 6px;
    }
    /* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
    .cards-container::-webkit-scrollbar {
        display: none;
    }

    .cover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        position:relative;
        width:80%;
        height:80%;
        margin:2vh 2vw 2vh 2vw;
    }
    import 'bootstrap/dist/css/bootstrap.min.css';

